@{
    Layout = "~/Views/MasterView/Simple.cshtml";
}
@model XCLCMS.View.AdminViewModel.SysDic.SysDicAddVM

<form id="mainForm" action="@Model.FormAction">
    <input type="hidden" name="SysDicID" id="SysDicID" value="@Model.SysDicID" />
    <input type="hidden" name="ParentID" id="ParentID" value="@Model.ParentID" />

    <div class="XCLPanel">
        <div class="XCLPanelHeader XCLBolder">
            @if (Model.PathList.IsNotNullOrEmpty())
            {
                System.Text.StringBuilder str = new System.Text.StringBuilder();
                str.Append(string.Join("-&gt;", Model.PathList.Select(k => k.DicName).ToArray()));
                if (null != ViewBag.CurrentHandleType && ViewBag.CurrentHandleType == XCLCMS.Lib.Common.Comm.HandleType.ADD)
                {
                    str.Append("-&gt;");
                }
                @Html.Raw(str.ToString())
            }
        </div>
        <div class="XCLPanelBody">
            <div class="XCLAccordion">
                <div class="XCLAccordionHeader">基本信息：</div>
                <div class="XCLAccordionBody">
                    <table class="XCLTableEdit">
                        <tr>
                            <td class="XCLTitle" width="20%"><span class="XCLRedBolder">*</span>字典名：</td>
                            <td width="30%">
                                <textarea id="txtDicName" name="txtDicName">@Model.SysDic.DicName</textarea>
                            </td>
                            <td class="XCLTitle" width="20%">字典值：</td>
                            <td width="30%">
                                <textarea id="txtDicValue" name="txtDicValue">@Model.SysDic.DicValue</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">唯一标识：</td>
                            <td>
                                <textarea id="txtCode" name="txtCode">@Model.SysDic.Code</textarea>
                            </td>
                            <td class="XCLTitle"><span class="XCLRedBolder">*</span>字典类型：</td>
                            <td>
                                <select id="selDicType" name="selDicType">
                                    @Html.Raw(XCLNetTools.Control.HtmlControl.Lib.GetOptions(typeof(XCLCMS.Data.CommonHelper.EnumType.DicTypeEnum), new XCLNetTools.Entity.SetOptionEntity()
                               {
                                   DefaultValue = Model.SysDic.DicType
                               }))
                                </select>
                            </td>
                        </tr>

                        @if(Model.SysDicCategory==XCLCMS.View.AdminViewModel.SysDic.SysDicCategoryEnum.SysMenu)
                        {
                            <tr>
                                <td class="XCLTitle">所属功能模块：</td>
                                <td colspan="3">
                                     <input id="txtFunctionID" name="txtFunctionID" style="width:300px;height:25px;" value="@Model.SysDic.FK_FunctionID" multiple />
                                </td>
                            </tr>
                        }

                        <tr>
                            <td class="XCLTitle">备注：</td>
                            <td colspan="3">
                                <textarea id="txtRemark" name="txtRemark">@Model.SysDic.Remark</textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="XCLHandBar">
                <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
            </div>
        </div>
    </div>
</form>

<div class="XCLPanel" style="margin-top: 5px;">
    <div class="XCLPanelHeader XCLBolder">
        操作说明：
    </div>
    <div class="XCLPanelBody">
        <ul>
            <li>1、只有特定权限的人员，才能修改【字典类型】。</li>
            <li>2、在配置系统菜单时，根据需要，为其配置一个功能权限，便于不同角色的用户显示不同的菜单。</li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    require(["Lib/SysDic"], function (sysDic) {
        $(function () {
            sysDic.SysDicAdd.Init();
        });
    });
</script>