<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @Html.Partial("~/Views/MasterView/Header.cshtml")
    @Html.Raw(XCLNetTools.StringHander.Common.GetStaticResourceUrl(XCLCMS.View.AdminWeb.Common.WebCommon.StaticResourceConfig,new List<string>(){
            "login.css"
       }))
</head>
<body>
    <div class="login-welcome">
        您好！欢迎使用本系统！
    </div>
    <div class="login-wrap">
        <div class="login-top">
        </div>
        <div class="login fixed">
            <div class="login-l">
            </div>
            <div class="login-c">
                <div>
                    <img src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/login_04.gif" />
                </div>
                <div>
                    <img src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/login_05.gif" />
                </div>
                <div class="login-c-00 fixed">
                    <div class="login-c-01" style="text-align: center;">
                    </div>
                    <div class="login-c-02 fixed">
                        <form id="form1" name="form1" method="post">
                            <table cellpadding="0" border="0" cellspacing="0" class="loginTable">
                                <tr>
                                    <td align="right" width="25%">用户名：
                                    </td>
                                    <td width="75%">
                                        <input type="text" id="txtUserName" name="txtUserName" style="width:140px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">密码：
                                    </td>
                                    <td>
                                        <input type="password" id="txtPwd" name="txtPwd" style="width:140px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">验证码：
                                    </td>
                                    <td>
                                        <span>
                                            <img src="@(XCLCMS.View.AdminWeb.Common.WebCommon.RootURL)Login/GenerateValidCode" alt="单击进行更换图片！" title="单击进行更换图片！" onclick="this.src='@(XCLCMS.View.AdminWeb.Common.WebCommon.RootURL)Login/GenerateValidCode'+'?'+Math.random();return false;" style="width:66px;height:29px;" />
                                        </span>
                                        <input type="text" id="txtValidCode" name="txtValidCode" style="width:70px;"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="login-anniu">
                                        <a href="javascript:void(0);" id="btnLogin">登录</a>
                                        <a href="javascript:void(0);" id="btnReset">重置</a>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="login-c-03" style="text-align: center; width: 70px;">
                    </div>
                </div>
                <div>
                    <img src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/login_08.gif" />
                </div>
            </div>
            <div class="login-r">
            </div>
        </div>
        <div class="login-bottom">
            <img src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/login_09.gif" /><img src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/login_10.gif" /><img src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Images/login_11.gif" />
        </div>
    </div>
    <div class="login-footer">
        @Html.Partial("~/Views/MasterView/Footer.cshtml")
    </div>
    <script type="text/javascript">
        require(["Lib/Login"], function (login) {
            $(function () {
                login.Init();
            });
        });
    </script>
</body>
</html>