@{
    Layout = "~/Views/MasterView/Simple.cshtml";
}
@model XCLCMS.View.AdminViewModel.SysFunction.SysFunctionAddVM

<form id="mainForm" action="@Model.FormAction" method="post">
    <input type="hidden" name="SysFunctionID" id="SysFunctionID" value="@Model.SysFunctionID" />
    <input type="hidden" name="ParentID" id="ParentID" value="@Model.ParentID" />

    <div class="XCLPanel">
        <div class="XCLPanelHeader XCLBolder">
            @if (Model.PathList.IsNotNullOrEmpty())
            {
                System.Text.StringBuilder str = new System.Text.StringBuilder();
                str.Append(string.Join("-&gt;", Model.PathList.Select(k => k.FunctionName).ToArray()));
                if (null != ViewBag.CurrentHandleType && ViewBag.CurrentHandleType == XCLCMS.Lib.Common.Comm.HandleType.ADD)
                {
                    str.Append("-&gt;");
                }
                @Html.Raw(str.ToString())
            }
        </div>
        <div class="XCLPanelBody">
            <div class="XCLAccordion" style="border-top: none;">
                <div class="XCLAccordionHeader">1、基本信息：</div>
                <div class="XCLAccordionBody">
                    <table class="XCLTableEdit">
                        <tr>
                            <td class="XCLTitle" style="width: 20%"><span class="XCLRedBolder">*</span>功能名称：</td>
                            <td style="width: 80%">
                                <textarea id="txtFunctionName" name="txtFunctionName" >@Model.SysFunction.FunctionName</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">功能标识：</td>
                            <td>
                                <input type="text" id="txtCode" name="txtCode" value="@Model.SysFunction.Code" style="width:50%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">备注：</td>
                            <td>
                                <textarea id="txtRemark" name="txtRemark">@Model.SysFunction.Remark</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">记录状态：</td>
                            <td>
                                @if (ViewBag.CurrentHandleType == XCLCMS.Lib.Common.Comm.HandleType.ADD)
                                {
                                    @XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum), XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum.N.ToString())
                                }
                                else {
                                    @XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum), Model.SysFunction.RecordState.ToString())
                                }
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="XCLHandBar">
                    @switch ((XCLCMS.Lib.Common.Comm.HandleType)ViewBag.CurrentHandleType)
                    {
                        case XCLCMS.Lib.Common.Comm.HandleType.ADD:
                            <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保 存</a>
                            break;
                        case XCLCMS.Lib.Common.Comm.HandleType.UPDATE:
                            <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<div class="XCLPanel" style="margin-top: 5px;">
    <div class="XCLPanelHeader XCLBolder">
        操作说明：
    </div>
    <div class="XCLPanelBody">
    </div>
</div>

<script type="text/javascript">
    require(["Lib/SysFunction"], function (sysFunction) {
        $(function () {
            sysFunction.SysFunctionAdd.Init();
        });
    });
</script>