@{
    Layout = null;

    XCLCMS.Data.Model.UserInfo CurrentUserModel = null;
    if (null != ViewBag.CommonModel)
    {
        CurrentUserModel = ViewBag.CommonModel.CurrentUserModel as XCLCMS.Data.Model.UserInfo;
    }
}

<!DOCTYPE html>

<html @Html.Raw(null==ViewBag.NgModule?"":string.Format("ng-app='{0}'",ViewBag.NgModule))>
<head>

    @Html.Partial("~/Views/Layout/Header.cshtml")

    <style type="text/css">
        body {
            min-height: 900px;
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">@ViewBag.CurrentApplicationMerchantApp.MerchantAppName</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav" id="ulMenu">
                    @if (XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID, XCLCMS.Lib.Permission.Function.FunctionEnum.FileManager_DiskFileView))
                    {
                        <li activeReg="/FileInfo/"><a href="@Url.Action("List","FileInfo")">磁盘文件信息</a></li>
                    }
                    @if (XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID, XCLCMS.Lib.Permission.Function.FunctionEnum.FileManager_LogicFileView))
                    {
                        <li activeReg="/LogicFile/"><a href="@Url.Action("List","LogicFile")">文件数据信息</a></li>
                    }
                    @if (XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID, XCLCMS.Lib.Permission.Function.FunctionEnum.FileManager_FileAdd))
                    {
                        <li activeReg="/Upload/"><a href="@Url.Action("Index","Upload")">上传新的文件</a></li>
                    }
                </ul>

                @if (null != CurrentUserModel)
                {
                    <p class="navbar-text" style="float:right;">
                        您好，@(string.Format("{0}（{1}）", CurrentUserModel.UserName, CurrentUserModel.RoleName))
                        <a href="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_LogOnURL)" target="_blank">后台管理</a>
                        &nbsp;&nbsp;&nbsp;
                        <a href="@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_LogOutURL">安全退出</a>
                    </p>
                }

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>

    <div class="XCLFooter">
        @Html.Partial("~/Views/Layout/Footer.cshtml")
    </div>

    <script type="text/javascript">
        $(function () {
            var href = location.href;
            $("ul#ulMenu li").each(function () {
                if (new RegExp($(this).attr("activeReg")).test(href)) {
                    $(this).addClass("active");
                }
            });
        });
    </script>
</body>
</html>