@{
    Layout = null;
}

<!DOCTYPE html>

<html @Html.Raw(null==ViewBag.NgModule?"":string.Format("ng-app='{0}'",ViewBag.NgModule))>
<head>

    @Html.Partial("~/Views/Layout/Header.cshtml")

    <style type="text/css">
        body {
            min-height: 900px;
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">XCLCMS文件管理</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav" id="ulMenu">
                    <li activeReg="/FileInfo/"><a href="@Url.Action("List","FileInfo")">磁盘文件列表</a></li>
                    <li activeReg="/LogicFile/"><a href="@Url.Action("List","LogicFile")">逻辑文件列表</a></li>
                    <li activeReg="/Upload/"><a href="@Url.Action("Index","Upload")">上传</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" style="width:100%;">
        @RenderBody()
    </div>


    <script type="text/javascript">
        $(function () {
            var href = location.href;
            $("ul#ulMenu li").each(function () {
                if (new RegExp($(this).attr("activeReg")).test(href)) {
                    $(this).addClass("active");
                }
            });
        });
    </script>
</body>
</html>