<title>@(string.IsNullOrEmpty(ViewBag.Title) ? XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaTitle : string.Format("{0}——{1}", XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaTitle, ViewBag.Title))</title>
<meta name="keywords" content="@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaKeyWords" />
<meta name="description" content="@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaDescription" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script type="text/javascript">
    //全局配置
    @if (null == ViewBag.PageGlobalConfigJSON) {
        @:var XCLCMSPageGlobalConfig={
                    @:RootURL:"@(XCLCMS.View.AdminWeb.Common.WebCommon.RootURL)",
                    @:ResourceURL: "@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)"
                @:};
        }
    else
    {
        @:var XCLCMSPageGlobalConfig =@(Html.Raw(ViewBag.PageGlobalConfigJSON));
            @:XCLCMSPageGlobalConfig.EnumConfig=@(Html.Raw(XCLCMS.Data.CommonHelper.EnumHelper.GetAllEnumJson));
        }
</script>

@{
    List<string> resourceList = new List<string>();
    resourceList.AddRange(new List<string>()
    {
        "icon",
        "json2.js",
        "jquery",
        "easyui_ico.css",
        "easyui.css",
        "easyui.js",

        "artDialog.css",
        "artDialog.js",
        "artDialog.iframeTools.js",
        "artTemplate.js",

        "validate.js",
        "XCLValidatorMethod.js",

        "WdatePicker.js",
        "base.css",
        "table.js",
        "XGoAjax.js",
        "XGoAjaxTemplate.js",
        "dynamicCon.js",
        "XJsTool.js",

        "kindeditor.css"

    });
}

@Html.Raw(XCLNetTools.StringHander.Common.GetStaticResourceUrl(XCLCMS.View.AdminWeb.Common.WebCommon.StaticResourceConfig, resourceList))