<title>@(ViewBag.Title)</title>
<meta name="keywords" content="@ViewBag.KeyWords" />
<meta name="description" content="@ViewBag.Description" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script type="text/javascript">
    //全局配置
    @(Html.Raw(ViewBag.PageGlobalConfigJSON))
</script>
<link rel="icon" href="~/Resources/Images/logo/favicon.ico?v=@(ViewBag.ResourceVersion)" />
<script src="~/Resources/Js/json2.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/Jquery/jquery-1.11.2.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<link href="~/Resources/Js/EasyUI/themes/icon.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<link href="~/Resources/Js/EasyUI/themes/default/easyui.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<script src="~/Resources/Js/EasyUI/jquery.easyui.min.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<link href="~/Resources/Js/artDialog/skins/blue.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<script src="~/Resources/Js/artDialog/artDialog.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/artDialog/plugins/iframeTools.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/artTemplate/template.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/validate/jquery.validate.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/validate/XCLValidatorMethod.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/WdatePicker/WdatePicker.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<link href="~/Resources/Css/base.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" type="text/css" />
<script src="~/Resources/Js/table.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/XGoAjax/XGoAjax.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/XGoAjax/XGoAjaxTemplate.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/dynamicCon.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>
<script src="~/Resources/Js/XJsTool.js?v=@(ViewBag.ResourceVersion)" type="text/javascript"></script>

<script type="text/javascript" src="@(XCLNetTools.XML.ConfigClass.GetConfigString("WebAPIJsUrl"))?v=@(ViewBag.ResourceVersion)"></script>
