@{
        XCLCMS.View.AdminWeb.Models.Main.MainVM mainViewModel = null;
        if(null != ViewBag.MainViewModel){
            mainViewModel = ViewBag.MainViewModel as XCLCMS.View.AdminWeb.Models.Main.MainVM;
        }
        XCLCMS.Data.Model.UserInfo CurrentUserModel = null;
        if (null != ViewBag.CommonModel)
        {
            CurrentUserModel = ViewBag.CommonModel.CurrentUserModel as XCLCMS.Data.Model.UserInfo;
        }
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @Html.Partial("~/Views/MasterView/Header.cshtml")
    <style type="text/css">
        body {min-width:1000px;}
    </style>
    @RenderSection("CustomHeader", false)
    <script type="text/javascript" src="~/Resources/Js/App/config.js?v=@(ViewBag.ResourceVersion)"></script>
    <script data-main="main.js" type="text/javascript" src="~/Resources/Js/App/require.js?v=@(ViewBag.ResourceVersion)"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'center',border:false">
        <div class="easyui-panel" style="height:50px;overflow:hidden;border:0px;">
            <span style="font-size:25px;font-weight:bolder;line-height:50px;padding-left:10px;">@(ViewBag.CurrentMerchantApp.MerchantAppName)</span>
        </div>
        <div class="XCLPanel" style="border-bottom:none;">
            <div class="XCLPanelHeader">
                @if(null!=CurrentUserModel){
                    @:您好，@(string.Format("{0}（{1}）",CurrentUserModel.UserName,CurrentUserModel.RoleName))  <a href="@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_LogOutURL">安全退出</a>
                    @:&nbsp;&nbsp;&nbsp;
                }
                @if (null != ViewBag.CurrentMerchant) {
                    @:当前商户：@ViewBag.CurrentMerchant.MerchantName
                    @:，当前商户号：@ViewBag.CurrentMerchant.MerchantID
                }
                <span style="float:right;"><span class="XCLRed">公告通知：</span><a href="">2014又要放假了，大家火车票买了没？</a></span>
            </div>
        </div>
        <div id="DivMenuTabs" class="easyui-tabs" style="height:auto;">
            @if (null != mainViewModel)
            {
                var bll = new XCLCMS.Data.BLL.SysDic();
                if (mainViewModel.MenuList.IsNotNullOrEmpty())
                {
                    foreach (var m in mainViewModel.MenuList)
                    {
                    <div title="@m.DicName" xcl-sysdiccode="@m.Code" xcl-tabTitle="@m.DicName" style="padding:10px">
                        <div>
                            @{
                                    var childMenu = bll.GetChildListByID(m.SysDicID);
                                    if (childMenu.IsNotNullOrEmpty())
                                    {
                                        childMenu=childMenu.Where(ch=>ch.FK_FunctionID==null || XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID,(XCLCMS.Lib.Permission.Function.FunctionEnum)ch.FK_FunctionID)).ToList();
                                        foreach(var child in childMenu)
                                        {
                                            var linkUrl=(child.DicValue??"").Trim();
                                            linkUrl=linkUrl.Replace("~/",XCLNetTools.StringHander.Common.RootUri);
                                            if(string.IsNullOrEmpty(linkUrl))
                                            {
                                                linkUrl = "javascript:void(0);";
                                            }
                                            <a href="@linkUrl" class="easyui-linkbutton" style="width:auto;padding-left:10px;padding-right:10px;" xcl-sysdiccode="@child.Code" xcl-remark='@Html.Raw(child.Remark)'>@child.DicName</a>
                                        }
                                    }
                                }
                       </div>
                    </div>
                    }
                }
            }
        </div>

        <div class="XCLPanel" style="border-top:none;">
            <div class="XCLPanelHeader XCLBolder">
                <div id="divPagePath"></div>
            </div>
        </div>

        @RenderBody()
    </div>

    <div data-options="region:'south'" style="height: 30px;text-align:center;padding-top:5px;">
        如有疑问，请<a href="mailto:@ViewBag.CurrentMerchantApp.Email">联系我们</a>
        @Html.Raw(ViewBag.CurrentMerchantApp.CopyRight)
        @Html.Partial("~/Views/MasterView/Footer.cshtml")
    </div>

    <script type="text/javascript">
        require(["Lib/MainMaster"], function (mainMaster) {
            $(function () {
                mainMaster.Init();
            });
        });
    </script>

    @RenderSection("CustomFooter", false)
</body>
</html>