<!DOCTYPE html>
<html lang="zh-cn">
<head>
    @Html.Partial("~/Views/MasterView/Header.cshtml")

    @RenderSection("CustomHeader", false)

   @Html.Raw(XCLNetTools.StringHander.Common.GetStaticResourceUrl(XCLCMS.View.AdminWeb.Common.WebCommon.StaticResourceConfig,new List<string>(){
        "config.js",
        "require.js"
   }))
</head>
<body>
        @RenderBody()
        @Html.Partial("~/Views/MasterView/Footer.cshtml")

        @RenderSection("CustomFooter", false)
</body>
</html>