@{
    Layout = "~/Views/Layout/Main.cshtml";
}
@model XCLCMS.FileManager.Models.LogicFile.UpdateVM

<form action="@Url.Action("UpdateSubmit","LogicFile")" method="post">

    <input type="hidden" name="AttachmentID" value="@Model.Attachment.AttachmentID" />

    <fieldset>
        <legend>基本信息</legend>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td class="text-right" width="10%">所属商户ID：</td>
                    <td width="40%">
                        @Model.Attachment.FK_MerchantID
                    </td>
                    <td class="text-right" width="10%">所属商户名：</td>
                    <td width="40%">
                        @Model.Attachment.MerchantName
                    </td>
                </tr>
                <tr>
                    <td class="text-right">文件ID：</td>
                    <td>
                        @Model.Attachment.AttachmentID
                    </td>
                    <td class="text-right">主文件ID：</td>
                    <td>
                        @Model.Attachment.ParentID
                    </td>
                </tr>
                <tr>
                    <td class="text-right">文件名：</td>
                    <td><a href="@((Model.Attachment.URL??"").Replace("~/",XCLCMS.Lib.SysWebSetting.Setting.SettingModel.FileManager_RootURL))" target="_blank">@Model.Attachment.FileName</a></td>
                    <td class="text-right">查看类型：</td>
                    <td>@XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.AttachmentViewTypeEnum), Model.Attachment.ViewType)</td>
                </tr>
                <tr>
                    <td class="text-right">格式类型：</td>
                    <td>@XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.AttachmentFormatTypeEnum), Model.Attachment.FormatType)</td>
                    <td class="text-right">扩展名：</td>
                    <td>@Model.Attachment.Ext</td>
                </tr>
                <tr>
                    <td class="text-right">相对路径：</td>
                    <td>@Model.Attachment.URL</td>
                    <td class="text-right"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-right">下载数：</td>
                    <td>@Model.Attachment.DownLoadCount</td>
                    <td class="text-right">查看数：</td>
                    <td>@Model.Attachment.ViewCount</td>
                </tr>
                <tr>
                    <td class="text-right">大小：</td>
                    <td>@Model.Attachment.FileSize kb</td>
                    <td class="text-right">图片宽高（如果是图片）：</td>
                    <td>宽：@Model.Attachment.ImgWidth  px  高：@Model.Attachment.ImgHeight  px</td>
                </tr>
                <tr>
                    <td class="text-right">创建时间：</td>
                    <td>
                        @Model.Attachment.CreateTime
                        （@Model.Attachment.CreaterName）
                    </td>
                    <td class="text-right">更新时间：</td>
                    <td>
                        @Model.Attachment.UpdateTime
                        （@Model.Attachment.UpdaterName）
                    </td>
                </tr>
                <tr>
                    <td class="text-right">标题：</td>
                    <td>
                        <input type="text" name="Title" class="form-control" value="@Model.Attachment.Title" style="width:40%;" />
                    </td>
                    <td class="text-right">描述信息：</td>
                    <td>
                        <textarea name="Description" class="form-control">@Model.Attachment.Description</textarea>
                    </td>
                </tr>
            </table>

        </div>
    </fieldset>

    <hr />
    <div class="text-center">
        <a href="@Url.Action("List","LogicFile")" class="btn btn-primary">返回</a>
        <a href="javascript:void(0);" class="btn btn-success" id="btnSave">保存</a>
    </div>

</form>

<script type="text/javascript">
    $(function () {
        app.LogicFile.Update.Init();
    });
</script>