@{
    Layout = "~/Views/MasterView/Main.cshtml";
}
@model XCLCMS.View.AdminWeb.Models.Article.ArticleAddVM

<form id="mainForm" action="@Model.FormAction" method="post">
    <input type="hidden" id="ArticleID" name="ArticleID" value="@Model.Article.ArticleID" />

    <div class="XCLAccordion" style="border-top: none;">
        <div class="XCLAccordionHeader">1、基本信息：</div>
        <div class="XCLAccordionBody">
            <table class="XCLTableEdit">
                <tr>
                    <td class="XCLTitle" style="width: 10%" rowspan="2"><span class="XCLRedBolder">*</span>标题：</td>
                    <td style="width: 25%">
                        主标题：
                        <textarea id="txtTitle" name="txtTitle" style="height:40px;" >@Model.Article.Title</textarea>
                    </td>
                    <td class="XCLTitle" style="width: 10%">作者：</td>
                    <td style="width: 25%">
                        <select id="selAuthorName" name="selAuthorName" class="easyui-combobox"  style="height:25px;width:200px;">
                            @Html.Raw(Model.AuthorNameOptions)
                        </select>
                    </td>
                    <td class="XCLTitle" style="width: 10%">来源：</td>
                    <td style="width: 25%">
                        <select id="selFromInfo" name="selFromInfo" class="easyui-combobox"  style="height:25px;width:200px;">
                            @Html.Raw(Model.FromInfoOptions)
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        子标题：
                        <textarea id="txtSubTitle" name="txtSubTitle" style="height:40px;" >@Model.Article.SubTitle</textarea>
                    </td>
                    <td class="XCLTitle">内容类型：</td>
                    <td>
                        <table style="width:100%">
                            <tr>
                                <td align="right">类型</td>
                                <td>
                                    <select id="selArticleContentType" name="selArticleContentType">
                                        @Html.Raw(Model.ArticleContentTypeOptions)
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">跳转链接地址</td>
                                <td>
                                    <input type="text" id="txtLinkUrl" name="txtLinkUrl" value="@Model.Article.LinkUrl" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="XCLTitle">打开方式：</td>
                    <td>
                        <select id="selURLOpenType" name="selURLOpenType">
                            @Html.Raw(Model.URLOpenTypeOptions)
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="XCLTitle">分类：</td>
                    <td>
                        <input id="selArticleType" name="selArticleType" value="@Model.Article.ArticleTypeIDs" style="width:200px;height:25px;" multiple/>
                    </td>
                    <td class="XCLTitle">关键字：</td>
                    <td>
                        <textarea id="txtKeyWords" name="txtKeyWords"  style="height:40px;" >@Model.Article.KeyWords</textarea>
                        <p></p>
                        <span class="XCLNote">注：多个请用英文逗号（,）隔开！</span>
                    </td>
                    <td class="XCLTitle">Tags：</td>
                    <td>
                        <textarea id="txtTags" name="txtTags"  style="height:40px;" >@Model.Article.Tags</textarea>
                        <p></p>
                        <span class="XCLNote">注：多个请用英文逗号（,）隔开！</span>
                    </td>
                </tr>
                <tr>
                    <td class="XCLTitle">主图：</td>
                    <td>
                            @Html.Partial("~/views/UserControl/FileSelect.cshtml", new XCLCMS.View.AdminWeb.Models.UserControl.FileSelectVM()
                           {
                               TxtName = "mainImage",
                               MaxFileCount = 3
                           })
                        <span class="XCLNote">最多可选择3个文件！</span>
                    </td>
                    <td class="XCLTitle">发布时间：</td>
                    <td>
                        <input type="text" id="txtPublishTime" name="txtPublishTime" value="@string.Format("{0:yyyy-MM-dd HH:mm}",Model.Article.PublishTime)" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'}); return false;" />
                    </td>
                    <td class="XCLTitle">唯一标识：</td>
                    <td>
                        <input type="text" id="txtCode" name="txtCode" value="@Model.Article.Code" />
                    </td>
                </tr>
                @*<tr>
                    <td class="XCLTitle">图集：</td>
                    <td colspan="5">
                        @Html.Partial("~/views/UserControl/FileSelect.cshtml", new XCLCMS.View.AdminWeb.Models.UserControl.FileSelectVM()
                       {
                           TxtName = "pictures",
                           MaxFileCount = 100
                       })
                    </td>
                </tr>*@
                <tr>
                    <td class="XCLTitle">属性：</td>
                    <td colspan="5">
                        <input type="checkbox" id="ckIsCanComment" name="ckIsCanComment" @Html.Raw(Model.Article.IsCanComment=="Y" ? " checked='checked' " : "") value="@XCLCMS.Data.CommonHelper.EnumType.YesNoEnum.Y.ToString()" /><label for="ckIsCanComment">可以评论</label>
                        <input type="checkbox" id="ckIsRecommend" name="ckIsRecommend"  @Html.Raw(Model.Article.IsRecommend=="Y" ? " checked='checked' " : "") value="@XCLCMS.Data.CommonHelper.EnumType.YesNoEnum.Y.ToString()" /><label for="ckIsRecommend">推荐</label>
                        <input type="checkbox" id="ckIsEssence" name="ckIsEssence"  @Html.Raw(Model.Article.IsEssence=="Y" ? " checked='checked' " : "") value="@XCLCMS.Data.CommonHelper.EnumType.YesNoEnum.Y.ToString()" /><label for="ckIsEssence">精华</label>
                        <input type="checkbox" id="ckIsTop" name="ckIsTop"  @Html.Raw(Model.Article.IsTop=="Y" ? " checked='checked' " : "") value="@XCLCMS.Data.CommonHelper.EnumType.YesNoEnum.Y.ToString()" />
                        <label for="ckIsTop">置顶</label>
                        （<input type="text" id="txtBeginTop" name="txtBeginTop" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' }); return false;" />~<input type="text" id="txtEndTop" name="txtEndTop" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' }); return false;" />）
                    </td>
                </tr>
                <tr>
                    <td class="XCLTitle">概述：</td>
                    <td colspan="5">
                        <textarea id="txtSummary" name="txtSummary">@Model.Article.Summary</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="XCLTitle" rowspan="2">内容：</td>
                    <td colspan="5">
                        <textarea id="txtContents" name="txtContents" style="height:400px;">@Model.Article.Contents</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div id="divContentNote"></div>
                        <script id="divContentNoteTemp" type="text/html">
                            您已输入{{WordCount}}个文字！
                        </script>
                    </td>
                </tr>
                <tr>
                    <td class="XCLTitle">点评：</td>
                    <td colspan="5">
                        <textarea id="txtComments" name="txtComments">@Model.Article.Comments</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="XCLTitle">附件：</td>
                    <td colspan="5">
                        @Html.Partial("~/views/UserControl/FileSelect.cshtml", new XCLCMS.View.AdminWeb.Models.UserControl.FileSelectVM() {
                       TxtName="txtAttachments",
                       MaxFileCount=100,
                       TxtDefaultValue= Model.AttachmentIDList.IsNotNullOrEmpty()?string.Join(",", Model.AttachmentIDList.ToArray()):""
                   })
                    </td>
                </tr>

                <tr>
                    <td class="XCLTitle" rowspan="3">
                        评价点赞信息：
                    </td>
                    <td class="XCLTitle">浏览数：</td>
                    <td>
                        <input type="text" id="txtViewCount" name="txtViewCount" value="@Model.Article.ViewCount"   class="easyui-numberbox"  style="height:25px;" />
                    </td>
                    <td class="XCLTitle">热度：</td>
                    <td>
                        <input type="text" id="txtHotCount" name="txtHotCount" value="@Model.Article.HotCount"   class="easyui-numberbox"  style="height:25px;" />
                    </td>
                    <td rowspan="3" align="center">
                        <a class="easyui-linkbutton" id="btnRandomCount">我不想填写，让系统随机生成！</a>
                        <br /><br />
                        <span class="XCLNote">注：建议在添加新文章时，使用此功能！</span>
                    </td>
                </tr>

                <tr>
                    <td class="XCLTitle">好评数：</td>
                    <td>
                        <input type="text" id="txtGoodCount" name="txtGoodCount" value="@Model.Article.GoodCount"  class="easyui-numberbox"  style="height:25px;" />
                    </td>
                    <td class="XCLTitle">中评数：</td>
                    <td>
                        <input type="text" id="txtMiddleCount" name="txtMiddleCount" value="@Model.Article.MiddleCount"   class="easyui-numberbox"  style="height:25px;" />
                    </td>
                </tr>

                <tr>
                    <td class="XCLTitle">差评数：</td>
                    <td>
                        <input type="text" id="txtBadCount" name="txtBadCount" value="@Model.Article.BadCount"   class="easyui-numberbox"  style="height:25px;" />
                    </td>
                    <td class="XCLTitle"></td>
                    <td></td>
                </tr>

                <tr>
                    <td class="XCLTitle">文章状态：</td>
                    <td>
                        <select id="selArticleState" name="selArticleState">
                            @Html.Raw(Model.ArticleStateOptions)
                        </select>
                    </td>
                    <td class="XCLTitle">记录状态：</td>
                    <td>
                        @if (ViewBag.CurrentHandleType == XCLCMS.Lib.Common.Comm.HandleType.ADD)
                        {
                            @XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum), XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum.N.ToString())
                        }
                        else {
                            @XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum), Model.Article.RecordState.ToString())
                        }
                    </td>
                    <td class="XCLTitle">审核状态：</td>
                    <td>
                        <select id="selVerifyState" name="selVerifyState">
                            @Html.Raw(Model.VerifyStateOptions)
                        </select>
                    </td>
                </tr>
            </table>
        </div>

        <div class="XCLHandBar">
            <a href="@XCLCMS.View.AdminWeb.Common.WebCommon.RefferUrl" class="easyui-linkbutton" data-options="iconCls:'icon-back'">返回</a>
            @switch ((XCLCMS.Lib.Common.Comm.HandleType)ViewBag.CurrentHandleType)
            {
                case XCLCMS.Lib.Common.Comm.HandleType.ADD:
                    <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存文章</a>
                    break;
                case XCLCMS.Lib.Common.Comm.HandleType.UPDATE:
                    <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
                    if (XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID, XCLCMS.Lib.Permission.Function.FunctionEnum.SysFun_UserAdmin_ArticleDel))
                    {
                        <a id="btnDel" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">删 除</a>
                    }
                    break;
            }
        </div>
    </div>
</form>

<div class="XCLPanel" style="margin-top: 5px;">
    <div class="XCLPanelHeader XCLBolder">
        操作说明：
    </div>
    <div class="XCLPanelBody">
    </div>
</div>

<script type="text/javascript">
    require(["Lib/Article"], function (article) {
        $(function () {
            article.ArticleAdd.Init();
        });
    });
</script>