@model XCLCMS.View.AdminWeb.Models.UserControl.FileSelectVM

<div id="@Model.ID">
    <a href="javascript:void(0);" class="btnSelect easyui-linkbutton">选择文件</a>
    @*<input type="hidden" name="@Model.TxtName" value="@Model.TxtDefaultValue" />*@
    <ul class="divSelectedFileList"></ul>
</div>

<script type="text/html" id="temp@(Model.ID)">
    {{each FileList as m i}}
    <li style="margin:5px;">
        <a href="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.FileManager_OpenAPI_ShowAttachmentURL)/{{m.AttachmentID}}" target="_blank">{{m.OriginFileName}}</a>
        （{{m.FileSize}} KB）
        <a href="javascript:void(0);" class="delSelectedFile XCLRedBolder">×</a>
        <input type="hidden" name="@Model.TxtName" value="{{m.AttachmentID}}" />
    </li>
    {{/each}}
</script>

<script type="text/javascript">

    var @Model.ID={
        init:function(){
            var $div = $("div#@Model.ID");
            $div.on("click", ".btnSelect", function () {
                art.dialog.open(XCLCMSPageGlobalConfig.FileManagerLogicFileListURL + "?isSelectFile=1&selectFileCallback=@(Model.ID)_callback", {
                    title: '文件选择', width: 1200, height: 700
                });
                return false;
            });
            $div.on("click",".delSelectedFile",function(){
                $(this).closest("li").remove();
                return false;
            });
            //根据id来初始化
            var defaultValues="@Model.TxtDefaultValue";
            if(defaultValues){
                @(Model.ID)_callback(defaultValues);
            }
        },
        getSelectedIds:function(){
            var v=[];
            $("#@(Model.ID) input[name='@(Model.TxtName)']").each(function(){
                v.push(this.value);
            });
            return v;
        }
    };


    var @(Model.ID)_callback=function(ids){
        if(!ids){
            art.dialog.alert("无效的文件ID！");
            return false;
        }
        $.XGoAjax({
            ajax:{
                url:XCLCMSPageGlobalConfig.RootURL+"Common/GetFileInfo?FileID="+ids
            },
            success:function(ops,data){
                if(!data.CustomObject || data.CustomObject.length==0){
                    return true;
                }
                var selecteds=@(Model.ID).getSelectedIds();
                if(selecteds && selecteds.length>0){
                    data.CustomObject=$.map(data.CustomObject,function(n){
                        for(var i=0;i<selecteds.length;i++){
                            if(selecteds[i]==n.AttachmentID){
                                return null;
                            }
                        }
                        return n;
                    });
                }

                if(selecteds.length+data.CustomObject.length>@(Model.MaxFileCount)){
                    art.dialog.alert("最多只能选择【@(Model.MaxFileCount)】个文件！");
                    return true;
                }

                $("#@(Model.ID) .divSelectedFileList").append(template("temp@(Model.ID)",{FileList:data.CustomObject||{}}));
            }
        });
    };


    $(function () {
        @(Model.ID).init();
    });
</script>