@{
    Layout = "~/Views/Layout/Main.cshtml";
    ViewBag.NgModule = "ngFileInfo";
}
@model XCLCMS.FileManager.Models.FileInfo.ListVM

<form>
    <input type="hidden" name="dir" value="@Model.CurrentDirectory" />

    <div ng-controller="fileInfoList">

        <ol class="breadcrumb">
            <li>当前路径：</li>
            <li><a href="@Url.Action("List","FileInfo")">@XCLCMS.FileManager.Common.Library.FileManager_UploadPath</a></li>
            @if (null != Model.DirectoryNavigation && Model.DirectoryNavigation.Count > 0) {
                foreach (var m in Model.DirectoryNavigation)
                {
                    <li><a href="@Url.Action("List","FileInfo")?dir=@m.Value">@m.Text</a></li>
                }
            }
        </ol>

        <button type="button" class="btn btn-success" ng-click="initList()">刷新列表</button>

        @if (XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID, XCLCMS.Lib.Permission.Function.FunctionEnum.FileManager_DiskFileDel))
        {
            <button type="button" class="btn btn-danger" ng-click="delBatchSubmit()">删除文件</button>
        }

        <hr />

        <table class="table table-bordered">
                <tr class="active">
                    <th class="text-center">
                        <input type="checkbox"  class="xcheckgroup checkAllCurrent xcheckValue" value=""/>
                    </th>
                    <th class="text-center">ID</th>
                    <th class="text-center">文件名</th>
                    <th class="text-center">Web路径</th>
                    <th class="text-center">扩展名</th>
                    <th class="text-center">大小（KB）</th>
                    <th class="text-center">修改时间</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">操作</th>
                </tr>

                <tr ng-repeat="m in data" class="{{$index%2==0?'':'active'}}">
                    <th class="text-center">
                        <input type="checkbox" value="{{m.Path | encodeURIComponent}}" class="xcheckgroup checkItem" />
                    </th>
                    <th scope="row" class="text-center">{{m.ID}}</th>
                    <td>
                        <a href="@Url.Action("List","FileInfo")?dir=@HttpUtility.UrlEncode(Model.CurrentDirectory){{m.Name}}" ng-if="m.IsFolder">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            {{m.Name}}
                        </a>

                        <span ng-if="!m.IsFolder">{{m.Name}}</span>

                        
                    </td>
                    <td>
                        <a href="{{m.WebPath}}" target="_blank">{{m.WebPath}}</a>
                    </td>
                    <td class="text-center">{{m.ExtName}}</td>
                    <td class="text-center">{{(m.Size/1024.0).toFixed(2)}}</td>
                    <td class="text-center">{{m.ModifyTime}}</td>
                    <td class="text-center">{{m.CreateTime}}</td>
                    <td class="text-center">
                    @if (XCLCMS.Lib.Permission.PerHelper.HasPermission(ViewBag.UserID, XCLCMS.Lib.Permission.Function.FunctionEnum.FileManager_DiskFileDel))
                    {
                          <a href="javascript:void(0);" ng-click="delSubmit(m.Path)">删除</a>
                    }
                    </td>
                </tr>

        </table>



    </div>
</form>

<script type="text/javascript">
    $(function () {
        app.FileInfo.List.Init();
    });
</script>