@{
    Layout = "~/Views/Layout/Main.cshtml";
    ViewBag.NgModule = "ngFileInfo";
}
@model XCLCMS.FileManager.Models.FileInfo.ListVM

<form>
    <input type="hidden" name="dir" value="@Model.CurrentDirectory" />

    <div ng-controller="fileInfoList">

        <ol class="breadcrumb">
            <li>当前路径：</li>
            <li><a href="@Url.Action("List","FileInfo")">@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_UploaderFilePath</a></li>
            @if (null != Model.DirectoryNavigation && Model.DirectoryNavigation.Count > 0) {
                foreach (var m in Model.DirectoryNavigation)
                {
                    <li><a href="@Url.Action("List","FileInfo")?dir=@m.Value">@m.Text</a></li>
                }
            }
        </ol>

        <button type="button" class="btn btn-success" ng-click="initList()">刷新列表</button>
        <button type="button" class="btn btn-primary">新建目录</button>
        <button type="button" class="btn btn-danger">删除文件</button>

        <hr />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">
                        <input type="checkbox" ng-click="checkAll()" />
                    </th>
                    <th class="text-center">ID</th>
                    <th class="text-center">文件名</th>
                    <th class="text-center">Web路径</th>
                    <th class="text-center">扩展名</th>
                    <th class="text-center">大小（MB）</th>
                    <th class="text-center">修改时间</th>
                    <th class="text-center">创建时间</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="m in data">
                    <th class="text-center">
                        <input type="checkbox" value="{{m.ID}}" ng-click="checkItem()" />
                    </th>
                    <th scope="row" class="text-center">{{m.ID}}</th>
                    <td>
                        <a href="@Url.Action("List","FileInfo")?dir=@Model.CurrentDirectory{{m.Name}}" ng-if="m.IsFolder">
                            <span class="glyphicon glyphicon-folder-open"></span>
                            {{m.Name}}
                        </a>

                        <span ng-if="!m.IsFolder">{{m.Name}}</span>

                        
                    </td>
                    <td>
                        <a href="{{m.WebPath}}" target="_blank">{{m.WebPath}}</a>
                    </td>
                    <td class="text-center">{{m.ExtName}}</td>
                    <td class="text-center">{{(m.Size/1024.0/1024.0).toFixed(2)}}</td>
                    <td class="text-center">{{m.ModifyTime}}</td>
                    <td class="text-center">{{m.CreateTime}}</td>
                    <td class="text-center">
                        <button>修改</button>
                        <button>删除</button>
                    </td>
                </tr>

            </tbody>
        </table>



    </div>
</form>