<title>@(string.IsNullOrEmpty(ViewBag.Title)?XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaTitle:string.Format("{0}——{1}",XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaTitle,ViewBag.Title))</title>
<meta name="keywords" content="@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaKeyWords" />
<meta name="description" content="@XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Common_MetaDescription" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

@Html.Raw(XCLNetTools.StringHander.Common.GetStaticResourceUrl(XCLCMS.View.AdminWeb.Common.WebCommon.StaticResourceConfig,new List<string>(){
        "icon",
        "easyui_ico.css",
        "easyui.css",
        "artDialog.css",
        "base.css",
        "kindeditor.css"
   }))

<script src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Js/App/config.js"></script>
<script src="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Js/App/require.js" data-main="@(XCLCMS.Lib.SysWebSetting.Setting.SettingModel.Admin_ResourceRootURL)Resources/Js/App/main.js"></script>

<script type="text/javascript">
    require(["jquery","Lib/XCLCMS"], function ($,lib) {
        $(function () {
            //消息提示
            lib.XCLJsonMessageName = "@XCLNetTools.Message.Log.JsonMessageName";
            //站点根路径
            lib.RootURL = "@XCLCMS.View.AdminWeb.Common.WebCommon.RootURL";
            //所有枚举项
            @Html.Raw(string.Format("lib.EnumConfig={0};",XCLCMS.Data.CommonHelper.EnumHelper.GetAllEnumJson))
        });
    });

    require(["jquery", "artDialog"], function ($, artDialog) {
        $(function () {
            //dialog
            (function (config) {
                config['lock'] = true;
                config['opacity'] = 0.2;
                config['resize'] = true;
            })(art.dialog.defaults);
        });
    });
</script>

