@{
    Layout = "~/Views/MasterView/Simple.cshtml";
}
@model XCLCMS.View.AdminWeb.Models.SysRole.SysRoleAddVM

<form id="mainForm" action="@Model.FormAction" method="post">
    <input type="hidden" name="SysRoleID" id="SysRoleID" value="@Model.SysRoleID" />
    <input type="hidden" name="ParentID" id="ParentID" value="@Model.ParentID" />

    <div class="XCLPanel">
        <div class="XCLPanelHeader XCLBolder">
            @if (Model.PathList.IsNotNullOrEmpty())
            {
                System.Text.StringBuilder str = new System.Text.StringBuilder();
                str.Append(string.Join("-&gt;", Model.PathList.Select(k => k.RoleName).ToArray()));
                if (null != ViewBag.CurrentHandleType && ViewBag.CurrentHandleType == XCLNetTools.Enum.CommonEnum.HandleTypeEnum.ADD)
                {
                    str.Append("-&gt;");
                }
                @Html.Raw(str.ToString())
            }
        </div>
        <div class="XCLPanelBody">
            <div class="XCLAccordion" style="border-top: none;">
                <div class="XCLAccordionHeader">1、基本信息：</div>
                <div class="XCLAccordionBody">
                    <table class="XCLTableEdit">
                        <tr>
                            <td class="XCLTitle" style="width: 20%"><span class="XCLRedBolder">*</span>角色名称：</td>
                            <td style="width: 80%">
                                <textarea id="txtRoleName" name="txtRoleName" >@Model.SysRole.RoleName</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">所属商户：</td>
                            <td>
                                <input type="text" class="easyui-numberbox" id="txtMerchantID" name="txtMerchantID" value="@Model.SysRole.FK_MerchantID" style="height:25px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">角色标识：</td>
                            <td>
                                <input type="text" id="txtCode" name="txtCode" value="@Model.SysRole.Code" style="width:50%;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">权重：</td>
                            <td>
                                <input type="text" class="easyui-numberbox"  id="txtWeight" name="txtWeight" value="@Model.SysRole.Weight"  style="height:25px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">分配角色权限：</td>
                            <td>
                                    <input id="txtRoleFunction" name="txtRoleFunction" style="width:300px;height:25px;" xcl-data-value="@(null==Model.RoleFunctionIDList?"":string.Join(",",Model.RoleFunctionIDList.ToArray()))" multiple />
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">备注：</td>
                            <td>
                                <textarea id="txtRemark" name="txtRemark">@Model.SysRole.Remark</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="XCLTitle">记录状态：</td>
                            <td>
                                @if (ViewBag.CurrentHandleType == XCLNetTools.Enum.CommonEnum.HandleTypeEnum.ADD)
                                {
                                    @XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum), XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum.N.ToString())
                                }
                                else {
                                    @XCLNetTools.Enum.EnumHelper.GetEnumDescriptionByText(typeof(XCLCMS.Data.CommonHelper.EnumType.RecordStateEnum), Model.SysRole.RecordState.ToString())
                                }
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="XCLHandBar">
                    @switch ((XCLNetTools.Enum.CommonEnum.HandleTypeEnum)ViewBag.CurrentHandleType)
                    {
                        case XCLNetTools.Enum.CommonEnum.HandleTypeEnum.ADD:
                            <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保 存</a>
                            break;
                        case XCLNetTools.Enum.CommonEnum.HandleTypeEnum.UPDATE:
                            <a id="btnSave" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存修改</a>
                            break;
                    }
                </div>
            </div>
        </div>
    </div>
</form>

<div class="XCLPanel" style="margin-top: 5px;">
    <div class="XCLPanelHeader XCLBolder">
        操作说明：
    </div>
    <div class="XCLPanelBody">
    </div>
</div>

<script type="text/javascript">
    require(["Lib/SysRole"], function (sysRole) {
        $(function () {
            sysRole.SysRoleAdd.Init();
        });
    });
</script>